name: Reusable Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      sha:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout correct commit
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.sha }}

      - name: Print context
        run: |
          echo "Deploying commit ${{ inputs.sha }}"
          echo "Target environment: ${{ inputs.environment }}"

      # HERE should be the real deploy logic
      # eg.:
      #
      # - name: Login to AWS
      # - name: Build image
      # - name: Push
      # - name: Helm upgrade
